{
  "presets": [
      ["@babel/preset-env", { 
        "modules": false,
        "targets": { "node": 6 }
      }],
      "@babel/preset-typescript",
      "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel", "ramda", "lodash"]
}