.root {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  font-size: 1.6rem;

  .top {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .title {
      font-weight: bold;
    }

    .right {
      font-size: 1.6rem;
    }
  }

  .videoWrapper {
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition: height .5s;
    background: url('../../../public/assets/tv.svg');
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center center;

    &.open {
      height: 360px;
      margin: 1rem 0;
      background-color: black;
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;

    span {
      font-size: 1.4rem;
    }    
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: grey;
  }
}