@import '../../styles/_colors';

.root {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: $text-color;

  .top {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .title {
      font-weight: bold;
    }

    .right {
      font-size: 1.6rem;
    }
  }

  .videoWrapper {
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition: height .5s;

    &.open {
      height: 360px;
      margin: 1rem 0;
    }

  }

  .details {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;

    span {
      font-size: 1.4rem;
    }    
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: grey;
  }

}