@import '../../styles/_colors';

.FrontPage {

  .header {
    height: 160px;
    background-color: $header-background-color;
    color: $header-text-color;
    padding-top: 8rem;
  }

  .text {
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 2rem;

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    p {
      margin-top: 0rem;
      font-weight: bold;
      margin-bottom: 0.2rem;
    }

    .contribute {
      font-size: 1rem;
      a {
        text-decoration: none;
        color: white;
        font-style: italic;
      }
    }
  }

}